<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ClientId" value="64c657d0-f861-4951-b848-4a7df6d8b4de" />
    <add key="ClientSecret" value="1FgsRvw6hUoTF2aAik6rpEW0yW4/hx9o+u5oozsvJwE=" />
    <add key="AuthString" value="https://login.microsoftonline.com/epam.com" />
    <add key="Resource" value="https://EPAM.onmicrosoft.com/SecuredWebApp" />
  </appSettings>
</configuration>
